<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Enter OTP</title>

    <!-- Link styles -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/swiper.css" />

    <!-- icon style -->
    <link rel="stylesheet" href="../font/remixicon.css" />
    <!-- Link styles end -->
  </head>
  <body>
    <section class="container vh-100">
       <div class="h-100 d-flex align-items-center">
        <div class="card bg-transparent" >
            <img src="../img/Sport Team Logo.png" alt="" srcset="">
           </div>
       </div>
      
    </section>

    <div class="text-center position-fixed bottom-0 w-100 my-5 start-0 ">
        <a href="./startingpage.html">
          <button type="submit" class="btn btn-login w-75 my-3">
            Play <i class="ri-lock-line text-white fs-20"></i>
          </button>
        </a>
       
      </div>

  
  </body>
</html>
