<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>OTP Verified</title>

    <!-- Link styles -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/swiper.css" />

    <!-- Icon style -->
    <link rel="stylesheet" href="../font/remixicon.css" />
    <!-- Link styles end -->
  </head>
  <body>
    <section class="container">
      <div class="pt-3 pb-2">
        <div class="logo d-flex justify-content-center mb-3">
          <img src="../img/logo.png" alt="Logo" class="w-75" />
        </div>

        <div class="p-3">
          <div class="py-4 text-center">
            <div class="section-head">
            <div class="d-flex w-100 justify-content-center my-4">
                <div class="verify-btn">
                    <i class="ri-check-line text-success fs-80 mb-3"></i>
                  </div>
            </div>
            
              
              <h3 class="title text-red">OTP Verified</h3>
              <p class="text-white">
                Your OTP has been successfully verified. You can now proceed.
              </p>
            </div>
          </div>

          <div class="form text-center">
            <button
              type="button"
              class="btn btn-login w-100 my-3"
              onclick="window.location.href='./Enternewpass.html'"
            >
              Proceed <i class="ri-arrow-right-line text-white fs-20"></i>
            </button>
          </div>
        </div>
      </div>
    </section>

    <!-- js part -->
    <script src="../js/bootstrap.bundle.min.js"></script>
    <!-- js part end -->
  </body>
</html>
